
/* Remove default margin */
body,
h1,
h2,
p{
    margin: 0;
}
/* Set core body defaults */
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}
/* header */
header{
    position: fixed;
    top: 0;
    max-height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
}
img{
    height: 50px;
    padding: 10px;
    
}
ul{
 flex: 1;
 justify-content: flex-end;
 align-items: center;
 display: flex;
 list-style:none ;
 margin: 0;
 flex-wrap: wrap;
}
li{
    padding: 0 20px;
    max-width: 50%;
}
a{
    color: seashell;
}