
/* Remove default margin */
body,
h1,
h2,
p{
    margin: 0;
}
/* Set core body defaults */
body{
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}
/* header */
header{
    position: fixed;
    top: 0;
    max-height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
}
img{
    height: 50px;
    padding: 10px;
}
li {
    list-style:none ;
    display: inline-block;
}